/* ---------------------------------------------------------- */
/* RESET GLOBAL */
/* ---------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
/* ---------------------------------------------------------- */
/* TEMP STYLING */
/* ---------------------------------------------------------- */
.workspace {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* sidebar dan work-desk */

.work-desk {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    border: solid;
    overflow-y: auto;
}